/* Nav bar */
/* .left {
    float: left;
}

.right {
    float: right;
} */

.hide {
    display: none;
}

.show {
    display: flex;
}

.start-container {
    background-color: #f2e394;
    display: flex;
    flex-direction: column;
    border: 3px solid #f2ae72;
    border-radius: 5px;
    margin: 2rem;
    text-align: center;
    padding: 2rem;
}

nav {
    background-color: #f2e394;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border: 3px solid #f2ae72;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #588c7e;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: 3px solid darkblue;
    background-color: gainsboro;
    color: black;
    border-radius: 5px;
    padding: 10px 16px;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;;
    margin: 4px;
}

button:hover {
    transition-duration: 0.4s;
    background-color:gray;
}

h1 {
    font-size: 4rem;
    font-weight: bolder;
    padding: 1rem;
}

h4 {
    padding: 1rem;
}

ol{
    margin: 10px
}

p {
    padding: 2rem;
    font-size: 2rem;
}

#question-page {
    text-align: center;
    padding: 20px;
}