/* Nav bar */
/* .left {
    float: left;
}

.right {
    float: right;
} */

.hide {
    display: none;
}

.show {
    display: flex;
    justify-content: center;
}

.start-container {
    background-color: #e9c46a;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px ridge #f4a261;
    border-radius: 5px;
    margin: 2rem;
    text-align: center;
    padding: 2rem;
}

nav {
    background-color: #e9c46a;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border: 3px ridge #f4a261;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    font-size: 2rem;
    text-shadow: 2px 2px #2a9d8f;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #264653;
    background-color: #264653;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #264653;
}

button {
    border: .5rem ridge #2a9d8f;
    background-color: #f2ae72;
    color: #264653;
    box-shadow:10px 10px 5px #264653; 
    border-radius: 5px;
    max-width: 10rem;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;;
    margin: 1rem;
    padding: 1rem;
}

button:hover {
    transition-duration: 0.4s;
    background-color: #2a9d8f;
    cursor: pointer;
}

h1 {
    font-size: 4rem;
    font-weight: bolder;
    text-shadow: 2px 2px #2a9d8f;
    padding: 1rem;
}

h4 {
    padding: 1rem;
}

ol{
    margin: 10px
}

p {
    padding: 2rem;
    font-size: 2rem;
}

#question-page {
    text-align: center;
    padding: 20px;
}